* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  background-color: white;
  padding: 5px 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgrey;
}

.app__headerImage {
  width: 100px;
  height: 60px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
